@using Cedar.WebPortal.Domain.Entities
@using Cedar.WebPortal.WebMVC4.Controllers
@using Cedar.WebPortal.WebMVC4.Helpers
@using Microsoft.Web.Mvc
@model IEnumerable<News>
@{
    ViewBag.Title = "List";
}
<div style="margin: 10px">
    @foreach (News item in this.Model)
    {
        <div width="200px" id="divNewsList">
            <div style="min-height: 100px; vertical-align: text-top; padding-right: 60px">
                <strong>
                    @item.Title
                </strong>
                @String.Format("{0:g}", item.PublishDate)
                <br />
                <br />
                <div style="width: 100%">
                    @Html.Raw(item.Contents)
                    &nbsp;... &nbsp;
                </div>
                @Ajax.ActionLink(Html.ResourceFor("Details"), "Details", "News",
                            new RouteValueDictionary { { "Id", @item.NewsId } }, new AjaxOptions())
                @if (this.User.IsInRole("Administrator"))
                {
                    @Html.ActionLink((NewsController o) => o.Edit(item.NewsId))
                    @Html.Raw(" ")
                    @Ajax.ActionLink(this.Html.ResourceFor("Delete"), "Delete", "News", new { id = @item.NewsId }, new AjaxOptions { Confirm = "Delete News?", HttpMethod = "Post", UpdateTargetId = "divNewsList" })
                }
            </div>
            <hr />
        </div>
    }
</div>
