@using Cedar.WebPortal.Domain
@using Cedar.WebPortal.WebMVC4.Controllers
@using Cedar.WebPortal.WebMVC4.Helpers
@model Cedar.WebPortal.Domain.Entities.News
<div style="margin: 10px">
    <div width="200px" id="@Model.NewsId">
        @Html.DisplayAttachment(Model, o => o.Attachment)
        <div style="vertical-align: text-top; min-height: 100px; padding-@Html.RightIfPersian(): 60px">
            <strong>
                @Model.Title
            </strong>
            @String.Format("{0:g}", Model.PublishDate)
            <br />
            <br />
            <div style="width: 100%">
                @Html.Raw(Model.Contents)
                &nbsp;... &nbsp;
            </div>
            @Html.ActionLink(Html.ResourceFor("Details"), "Details", "News", new { id = @Model.NewsId }, new { })
            @if (@User.IsInRole("Administrator"))
            {
                @Html.ActionLink((NewsController o) => o.Edit(@Model.NewsId))
                @Html.Raw(" ")
                @Ajax.ActionLink(@Html.ResourceFor("Delete"), "Delete", "News", new { id = @Model.NewsId },
                                           new AjaxOptions
                                               {
                                                   Confirm = "Delete News?",
                                                   HttpMethod = "Post",
                                                   UpdateTargetId = @Model.NewsId.ToString()
                                               })
            }
        </div>
        <hr />
    </div>
</div>
