@model Cedar.WebPortal.Domain.Message
@using Microsoft.Web.Mvc
@using Cedar.WebPortal.WebMVC4.Helpers
@Html.Css("~/Content/CSS/Public/rightel-generalform.css")
<div class="FieldWrap">
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, true)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>@Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, true)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div>@Html.LabelFor(model => model.EMail)
        @Html.TextBoxFor(model => model.EMail, true)
        @Html.ValidationMessageFor(model => model.EMail)
    </div>
    <div>@Html.LabelFor(model => model.Contents)
        @Html.TextAreaFor(model => model.Contents, new { cols = 60, rows = 10, @class = "TextArea" })
        @Html.ValidationMessageFor(model => model.Contents)
    </div>
</div>
