@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.Domain.Resources
@using Cedar.WebPortal.WebMVC4.Controllers
@model Cedar.WebPortal.Domain.Message
@{
    ViewBag.Title = @Html.ResourceFor((MessageController o) => o.Create());
}
<h2>
    @Html.ResourceFor("Message_Create")</h2>
<style>
    .editor-label, .editor-field
    {
        float: none;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="breadcrumb">
    <ul>
        <li><span>درباره ما</span></li>
        <li>&laquo;</li>
        <li><span>تماس با ما</span></li>
        <li>&laquo;</li>
        <li>فرم تماس @* @Html.Action("Create","Applicant")*@ </li>
    </ul>
</div>
<div id="page-content" class="page-inner" style="width: 820px !important; padding: 10px;
    line-height: 180%;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <p style="color: #941063; font-size: small; font-weight: bold;">
            @Html.Raw(TempData["message"] == null ? "" : TempData["message"].ToString())
        </p>
        @Html.Partial("_CreateOrEdit", Model)
        <input type="submit" class="finish" value="@Html.ResourceFor("Submit")" />
      
    }
</div>
