@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.WebMVC4.Controllers
@model Cedar.WebPortal.Domain.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Message</legend>

    <div class="display-label">CaptureDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CaptureDate)</div>

    <div class="display-label">Contents</div>
    <div class="display-field">@Model.Contents</div>

    <div class="display-label">EMail</div>
    <div class="display-field">@Model.EMail</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
<p>
    @Html.ActionLink(@Html.ResourceFor("Edit"), "Edit", new { id=Model.MessageId }) |
    @Html.ActionLink((MessageController o)=> o.List())
    
</p>

