@model IEnumerable<Cedar.WebPortal.Domain.Message>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            CaptureDate
        </th>
        <th>
            Contents
        </th>
        <th>
            EMail
        </th>
        <th>
            LastName
        </th>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) 
        </td>
        <td>
            @String.Format("{0:g}", item.CaptureDate)
        </td>
        <td>
            @item.Contents
        </td>
        <td>
            @item.EMail
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Name
        </td>
    </tr>
}

</table>

