@using Microsoft.Web.Mvc
@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.WebMVC4.Controllers
@model Cedar.WebPortal.WebMVC4.ViewModel.GalleryViewModel
@{
    ViewBag.Title = @Html.ResourceFor("Create");
}
<h2>
    @Html.ResourceFor("Create")
</h2>
@Html.Script("~/Scripts/jquery.validate.min.js")
@Html.Script("~/Scripts/ckeditor/ckeditor_basic.js")

<script type="text/javascript">
    $().ready(function () {
        CKEDITOR.replace('Contents');
    });
  
</script>
<style>
     .attachment
    {
        /*height: 100px;*/
        display: inline-block;
        margin: 0 0 20px;
        position: relative;
        width: 100%;
    }
    .attachment input
    {
        position: relative;
    }
    .attachment .link
    {
        display: inline-block;
        top: auto;
        vertical-align: middle; /*  width: 200px;*/
    }
    .attachment b
    {
        position: relative;
        width: 38%;
    }
    
    .span
    {
        display: inline-block;
        padding: 5px; /* width: 100px;*/
    }
    .editor-label, .editor-field
    {
        float: none;
    }
</style>

@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Html.ResourceFor(o => o)</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PublishDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PublishDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.PublishDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contents)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Contents, new { cols = 80, rows = 10 })
            @Html.ValidationMessageFor(model => model.Contents)
        </div>
    
        <p>
            <input type="submit" value="@Html.ResourceFor("Create")" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink((GalleryController o) => o.List())
</div>
