@using Cedar.WebPortal.Domain
@using Cedar.WebPortal.WebMVC4.Controllers
@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.Common
@model Gallery
<div style="margin: 10px;color: #666666;direction: rtl;font-family: Tahoma,Geneva,sans-serif;font-size: 12px;line-height: 18px;text-align: justify;">
    <div width="200px" id="@Model.GalleryId">
       @* @if (Model.Attachments.IsNotNull())
        {
            foreach (var item in Model.Attachments)
            {
          
            @Html.DisplayAttachment(item, o => o)

            
            }
        }*@
        <div style="vertical-align: text-top; min-height: 100px; padding-@Html.RightIfPersian(): 60px">
            <strong>
                @Model.Title
            </strong>
            @String.Format("{0:g}", Model.PublishDate)
            <br />
            <br />
            <div style="width: 100%">
                @Html.Raw(Model.Contents)
                &nbsp;... &nbsp;
            </div>
            @Html.ActionLink(Html.ResourceFor("Details"), "Details", "Gallery", new { id = @Model.GalleryId }, new { })
            @if (@User.IsInRole("Administrator"))
            {
                @Html.ActionLink((GalleryController o) => o.Edit(@Model.GalleryId))
                @Html.Raw(" ")
                @Ajax.ActionLink(@Html.ResourceFor("Delete"), "Delete", "Gallery", new { id = @Model.GalleryId },
                                           new AjaxOptions
                                               {
                                                   Confirm = "Delete Gallery?",
                                                   HttpMethod = "Post",
                                                   UpdateTargetId = @Model.GalleryId.ToString()
                                               })
            }
        </div>
        <hr />
    </div>
</div>
